html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url("../img/fondo.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.menu-container {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0 0 4rem 0;
}
h2 {
    align-items: center;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 247, 179);
    font-size: 1.35rem;
    text-align: center;
    margin: 0;
    padding: 2rem;
}
.card {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 245, 151);
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.486);
    display: inline-block;
    height: 18.5rem;
    margin: 1.5rem 1rem;
    text-align: center;
    width:16.5rem;
}
img {
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 16.5rem;
    margin: 0;
}
.card:hover {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.815);
}
#sectionForm {
    align-items: left;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    justify-content: center;
    margin: 2rem auto;
    padding: 2rem 1.5rem; 
    width: 25rem;
}
input, select, textarea {
    box-shadow: 1px 1px 2px #ffffff; 
    background-color: rgb(255, 245, 151);
}
label {
    color: #F7F7FF;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1.5rem 0 0.5rem 0;
    padding: 0 0.7rem;
    text-align: left;
}

label, input, textarea {
    align-items: center;
    display: inline-block;
    text-align: left;
    font-size: 1.1rem;
    padding: 0.125rem 0.5rem;
}
select {
    display: inline-block;
    background-color: rgb(255, 245, 151);
    font-size: 1.15rem;
    height: 12.5rem;
    text-align: left;
    overflow:hidden;
    padding: 0.25rem 0.5rem;
}
textarea {
    background-color: rgb(255, 245, 151);
    height: 5.5rem;
    margin: 0;
}
button {
    align-items: center;
    background-color:rgb(255, 237, 76);
    border-radius: 1rem;
    box-shadow: none; 
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 3rem 0 0 0;
    padding: 0.75rem;
    text-align: center;
}
button:active {
    background-color:rgb(255, 231, 13);

}

@media screen and (max-width: 700px) {
    #sectionForm {
        padding: 2rem 1rem; 
        width: 18rem;
    }

}